  name: Provision Kubernetes Cluster Infrastructure

  permissions:
    actions: read
    contents: read

  on:
    push:
      branches:
        - main

  jobs:
    provision-infra:
      runs-on: ubuntu-latest

      steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.7.5

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2

      - name: Terraform Init
        working-directory: tf
        run: terraform init

      - name: Select or Create Workspace
        working-directory: tf
        run: terraform workspace select eu-west-2 || terraform workspace new eu-west-2

      - name: Terraform Apply
        working-directory: tf
        run: terraform apply -var-file=region.eu-west-2.tfvars -auto-approve

      - name:  Save control plane IP as artifact
        run: |
          echo "$(terraform output -raw control_plane_public_ip)" > control-plane-ip.txt

      - name:  Upload IP
        uses: actions/upload-artifact@v4
        with:
          name: control-plane-ip
          path: control-plane-ip.txt

      - name:  Verify IP saved
        run: cat control-plane-ip.txt




  
  
        
  
